{% extends "base.html" %}
{% load textslice %}
{%block content%}
<style>
    .bg-cover{
        background: linear-gradient(rgba(5,5,5,0.77),rgba(5,5,5,0.77)), url(
            {% if anime.cover_image %}'{{anime.cover_image}}'
            {% else %} '{{anime.poster_image}}'
            {%endif%}
            ) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: left;
        background-size: cover;
    }
    .poster{
        height: 76vh;
        min-height:450px;
        min-width:305px;
        width: 25vw;
        margin-top: 1vh;
        border: 1px solid #008864;
    }
    .genre{
        text-decoration:none;
        color:#acaaaa;
    }
    .genre:hover{
        color: white;
    }
    #post{
        background-color:transparent;
        border-color:white;
        border-width: 1px;
    }
    #post:hover{
        background-color:white;
        color:black;
    }
    label{
        display:none;
    }
    textarea.form-control {
        height: 8vh;
        border-radius: 25px;
        background-color: rgba(77, 87, 84, 0.3);
        color: white;
    }
    textarea.form-control:focus{
        background-color: rgba(77, 87, 84, 0.3);
        color: white;
    }
    .read-more{
        margin: 1px;
        background-color:transparent;
        color:white;
        border-color:white;
        border-width:1px;
        border-radius:3px;
    }
    .read-more:hover{
        background-color:white;
        color:black;
    }
    .comment-left{
        text-align:left;    
    }
    .comment-right{
        text-align:right;
    }
</style>
<div>
    <div class="column">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                {% if anime.poster_image %}
                <img src="{{ anime.poster_image }}" alt="Poster Image" class="poster">
                {% endif %} 
            </div>
            <div class="col-md-12 col-lg-8" style="font-size:15px;"> 
                    <h1 style="color:white;">{{ anime.title }}</h1>
                    <div class="row" style="padding:10px;">
                        <!--WatchLater-->
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_type" value="watchlater">
                            <input type="hidden" name="anime_id" value="{{anime.id}}">
                            <button type="submit" style="margin: 5px;background-color: transparent;">
                                {%if not unwatch%}<i class="fa-regular fa-bookmark" style="color: #ffffff;"></i>
                                {%else %}<i class="fa-solid fa-bookmark" style="color: #ffffff;"></i>
                                {%endif%}
                            </button>
                        </form>
                        <!--Reactions-->
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_type" value="reaction">
                            <input type="hidden" name="reaction_type" value="like">  <!-- Hidden input for liking -->
                            <input type="hidden" name="anime_id" value="{{anime.id}}">
                            <button type="submit" style="margin: 5px;background-color: transparent;color:white;">
                                {%if not liked%}<i class="fa-regular fa-heart" style="color: #ffffff;"></i>
                                {%else %}<i class="fa-solid fa-heart" style="color: #ffffff;"></i>
                                {%endif%}
                                {{likes}}
                            </button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_type" value="reaction">
                            <input type="hidden" name="reaction_type" value="dislike">  <!-- Hidden input for disliking -->
                            <input type="hidden" name="anime_id" value="{{anime.id}}">
                            <button type="submit" style="margin: 5px;background-color: transparent;color:white;">
                                {%if not disliked%}<i class="fa-regular fa-thumbs-down" style="color: #ffffff;"></i>
                                {%else %}<i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i>
                                {%endif%}
                                {{dislikes}}
                            </button>
                        </form>
                    </div>
                <p>{{ anime.status }} | Ep {{ anime.episode_count }} | {{ anime.age_rating_guide }}</p>
                <p>
                    <li style="display: flex;flex-direction:row;">Genres:
                        <ul style="display: flex;flex-direction:row;padding-left:5px;">
                            {% for genre in genres %}
                                <a href="{% url 'get_genre_anime' genre %}" class="genre">
                                    <li style="margin-right:5px;list-style: none;">{{  genre }},</li>
                                </a>
                            {% endfor %}
                        </ul>
                    </li>
                </p>
                <div id="synopsis" style="height: 50px; overflow: hidden;">
                    <p>{{ anime.synopsis | remove_rewrite}}</p>
                </div>
                <button id="read-more" onclick="showSynopsis()" class="read-more">Read More</button>
            </div>
        </div>
    </div>
    
    <div class="column">
        <p>
            Name: {{ anime.canonical_title }}, {%for name in names %}{{name}}, {%endfor%}<br>
            Popularity: {{ anime.popularity_rank }}<br>
            Rating: {{ anime.rating_rank }}</br>
            {% if anime.created_at %}
            Started At: {{ anime.created_at|date:'Y-m-d' }}</br>
            {% endif %}
            {% if anime.end_date %}
             Ended At: {{ anime.end_date|date:'Y-m-d' }}<br>
            {% endif %}
        </p>
        <p>
            {% if anime.streaming_links %}
            Streaming Links:<br>
                        {% for link in streaming_links %}
                           {{ link.title }}: <a href="{{ link.url }}" class="genre">{{ link.title }}</a><br>
                        {% endfor %}
            {% endif %}
            Youtube: <a href="https://www.youtube.com/watch?v={{ anime.youtube_video_id }}" class="genre">Watch on YouTube</a><br>
        </p>
    </div>

    <div class="column">
        <!-- Comment Form -->
        <h2>Post a Comment...</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="post_type" value="comment">
            {{ comment_form.as_p }} 
            <button type="submit" class="btn btn-primary" id="post">Post</button>
        </form>

        <!-- Comments -->
        <h2>Comments</h2>
        {% for comment in comments %}  
                <div class="comment-{%if you.username == comment.user.username %}right{%else%}left{%endif%}" id="comment">
                    <p style="margin-bottom:10px;padding:10px;"><strong>{{ comment.user.username }}</strong>
                    <span style="font-size: 13px;color:#626e6a">{{ comment.created_at |date:'M. d, Y'}}</span>
                    <br><span style="color:#c4dad2;">{{ comment.content }}</span>
                    </p>
                </div>
        {% endfor %}
    </div>
</div>

<script>
    function showSynopsis() {
        var synopsis = document.getElementById("synopsis");
        var button = document.getElementById("read-more");
    
        if (synopsis.style.height === "50px") {
            synopsis.style.height = "auto";
            button.innerHTML = "Read Less";
        } else {
            synopsis.style.height = "50px";
            button.innerHTML = "Read More";
        }
    }
</script>

{%endblock%}