{% extends "base.html" %}
{% load textslice %}
{%block content%}
<style>
    .bg-cover{
        background: linear-gradient(rgba(5,5,5,0.8),rgba(5,5,5,0.8)), url('{{anime.cover_image}}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: left;
        background-size: cover;
    }
    .poster{
        height: 76vh;
        min-height:450px;
        min-width:305px;
        width: 25vw;
        margin-top: 1vh;
        border: 1px solid #008864;
    }
    .genre{
        text-decoration:none;
        color:gray;
    }
    .genre:hover{
        color: white;
    }
</style>
<div>
    <div class="column">
        <div class="row">
            <div class="col-md-4">
                {% if anime.poster_image %}
                <img src="{{ anime.poster_image }}" alt="Poster Image" class="poster">
                {% endif %} 
            </div>
            <div class="col-md-8" style="font-size:15px;"> 
                <div class="row">
                    <h1 style="margin-left:15px;">{{ anime.title }}</h1>
                    <!--WatchLater-->
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_type" value="watchlater">
                        <input type="hidden" name="anime_id" value="{{anime.id}}">
                        <button type="submit" style="margin: 10px;">
                            {%if not unwatch%}Add to WatchLater
                            {%else %}Remove from WatchLater
                            {%endif%}
                        </button>
                    </form>
                    <!--Reactions-->
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_type" value="reaction">
                        <input type="hidden" name="reaction_type" value="like">  <!-- Hidden input for liking -->
                        <button type="submit" style="margin: 10px;">Likes: {{likes}}</button>
                    </form>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_type" value="reaction">
                        <input type="hidden" name="reaction_type" value="dislike">  <!-- Hidden input for disliking -->
                        <button type="submit" style="margin: 10px;">Dislikes: {{dislikes}}</button>
                    </form>
                </div>
                <p>{{ anime.status }} | Ep {{ anime.episode_count }} | {{ anime.age_rating_guide }}</p>
                <p>
                    <li style="display: flex;flex-direction:row;">Genres:
                        <ul style="display: flex;flex-direction:row;padding-left:5px;">
                            {% for genre in genres %}
                                <a href="{% url 'get_genre_anime' genre %}" class="genre">
                                    <li style="margin-right:5px;list-style: none;">{{  genre }},</li>
                                </a>
                            {% endfor %}
                        </ul>
                    </li>
                </p>
                <div id="synopsis" style="height: 50px; overflow: hidden;">
                    <p>{{ anime.synopsis | remove_rewrite}}</p>
                </div>
                <button id="read-more" onclick="showSynopsis()">Read More</button>
            </div>
        </div>
    </div>
    
    <div class="column">
        <p>
            Name: {{ anime.canonical_title }}<br>
            Popularity: {{ anime.popularity_rank }}<br>
            Rating: {{ anime.rating_rank }}</br>
            {% if anime.created_at %}
            Started At: {{ anime.created_at|date:'Y-m-d' }}</br>
            {% endif %}
            {% if anime.end_date %}
             Ended At: {{ anime.end_date|date:'Y-m-d' }}<br>
            {% endif %}
        </p>
        <p>
            Youtube: <a href="https://www.youtube.com/watch?v={{ anime.youtube_video_id }}" class="genre">Watch on YouTube</a><br>
            {% if anime.streaming_links %}
            Streaming Links:<br>
                        {% for link in streaming_links %}
                           {{ link.title }}: <a href="{{ link.url }}" class="genre">{{ link.title }}</a><br>
                        {% endfor %}
            {% endif %}
        </p>
    </div>

    <div class="column">
        <!-- Comment Form -->
        <h2>Post a Comment:</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="post_type" value="comment">
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary">Post</button>
        </form>

        <!-- Comments -->
        <h2>Comments:</h2>
        {% for comment in comments %}
            <div class="comment">
                <strong>{{ comment.user.username }}</strong>
                <p>{{ comment.created_at }}</p>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function showSynopsis() {
        var synopsis = document.getElementById("synopsis");
        var button = document.getElementById("read-more");
    
        if (synopsis.style.height === "50px") {
            synopsis.style.height = "auto";
            button.innerHTML = "Read Less";
        } else {
            synopsis.style.height = "50px";
            button.innerHTML = "Read More";
        }
    }
</script>

{%endblock%}

{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>{{ anime.title }}</title>
</head>
<body>
    {% load textslice %}
    <h1>{{ anime.title }}</h1>
    <ul> 
        <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="post_type" value="watchlater">
        <input type="hidden" name="anime_id" value="{{anime.id}}">
        <button type="submit">
            {%if not unwatch%}Add to WatchLater
            {%else %}Remove from WatchLater
            {%endif%}
        </button>
        </form>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="post_type" value="reaction">
            <input type="hidden" name="reaction_type" value="like">  <!-- Hidden input for liking -->
            <button type="submit">Likes: {{likes}}</button>
        </form>
        
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="post_type" value="reaction">
            <input type="hidden" name="reaction_type" value="dislike">  <!-- Hidden input for disliking -->
            <button type="submit">Dislikes: {{dislikes}}</button>
        </form>

        <li>Names: {{ anime.canonical_title }}</li>
        <li>Status: {{ anime.status }}</li>
        <li>Synopsis: {{ anime.synopsis | remove_rewrite}}</li>
        <li>Episodes: {{ anime.episode_count }}</li>
        <li>Age Rating: {{ anime.age_rating_guide }}</li>
        <li>Popularity: {{ anime.popularity_rank }}</li>
        <li>Rating: {{ anime.rating_rank }}</li>
        {% if anime.cover_image %}
            <li>Cover Image: <img src="{{ anime.cover_image }}" alt="Cover Image"></li>
        {% endif %}
        {% if anime.poster_image %}
            <li>Poster Image: <img src="{{ anime.poster_image }}" alt="Poster Image"></li>
        {% endif %}
        <li>Genres:
            <ul>
                {% for genre in genres %}
                    <a href="{% url 'get_genre_anime' genre %}"><li>{{  genre }}</li></a>
                {% endfor %}
            </ul>
        </li>
        {% if anime.created_at %}
            <li>Started At: {{ anime.created_at|date:'Y-m-d' }}</li>
        {% endif %}
        {% if anime.end_date %}
            <li>Ended At: {{ anime.end_date|date:'Y-m-d' }}</li>
        {% endif %}
        <li>Youtube: <a href="https://www.youtube.com/watch?v={{ anime.youtube_video_id }}">Watch on YouTube</a></li>
        {% if anime.streaming_links %}
            <li>Streaming Links:
                <ul>
                    {% for link in streaming_links %}
                        <li>{{ link.title }}: <a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        <!-- Comment Form -->
        <h2>Post a Comment:</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="post_type" value="comment">
            {{ comment_form.as_p }}
            <button type="submit">Post</button>
        </form>
        
        <h2>Comments:</h2>
        {% for comment in comments %}
            <div class="comment">
                <strong>{{ comment.user.username }}</strong>
                <h5>{{ comment.created_at }}</h5>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </ul>
</body>
</html> {% endcomment %}
