{% extends "base.html" %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}
<style>
    .form-container{
        display:flex;
        justify-content:center;
        align-items:center;
        margin-right:100px;
    }
    #create{
        color:#acaaaa;
    }
    #create:hover{
        color:white;
    }
    @media screen and (max-width: 600px) {
        .form-container img {
            display: none;
        }
        .form-container{
            margin-right:0px;
        }
    }
    #login{
        background-color: #ff3e3e;
        border-color: #ffc197;
        color: white;
    }
    #login:hover{
        background-color: #ff6700;
    }
</style>
    <div class="form-container" >
        <img src="{% static 'himy.png' %}">
    <div class="content-section" style="background-color:#1c2724;font-weight:700;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" id="login">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                No Account? <a class="ml-2" href="{% url 'register'%}" id="create">Create One</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}