{% extends "base.html" %}
{%load static%}
{% block content %}

<style>
    .login{
        color: #7b7b7b;
        font-size: 45px;
    }
    .login:hover{
        color: white;
        text-decoration: none;
    }
    .carrot{
        padding-top:30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
}
    
</style>
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <div class="carrot">
                <img src="{% static 'carrot.png' %}">
                <p><a href="{% url 'login'%}" class="login">Log In</a></p>
            </div>
        </div>
    
{% endblock content %}